In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df  = pd.read_csv(r'C:\Users\dilib.DESKTOP-0COEGD3\Desktop\python-learning\file\StudentsPerformance.csv')

In [5]:
df .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
df.shape

(1000, 8)

In [8]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [11]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [12]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [15]:
print(df['gender'].unique())

print(df['race/ethnicity'].unique())

print(df['parental level of education'].unique())

print(df['lunch'].unique())

print(df['test preparation course'].unique())

['female' 'male']
['group B' 'group C' 'group A' 'group D' 'group E']
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
['standard' 'free/reduced']
['none' 'completed']

In [21]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

categorical_features
print(numeric_features)
print(categorical_features)

['math score', 'reading score', 'writing score']
['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

In [22]:
df['total score'] = df['math score'] + df['reading score'] + df['writing score']
df['average'] = df['total score'] / 3
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [28]:
pass_criteria = df['total score'] >= 250
pass_criteria

0      False
1      False
2       True
3      False
4      False
       ...
995     True
996    False
997    False
998    False
999    False
Name: total score, Length: 1000, dtype: bool

In [29]:
girls_pass = df[(df['gender'] == 'female') & pass_criteria].shape[0]
boys_pass = df[(df['gender'] == 'male') & pass_criteria].shape[0]

In [30]:
girls_fail = df[(df['gender'] == 'female') & ~pass_criteria].shape[0]
boys_fail = df[(df['gender'] == 'male') & ~pass_criteria].shape[0]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   total score                  1000 non-null   int64
 9   average                      1000 non-null   float64
dtypes: float64(1), int64(4), object(5)
memory usage: 78.3+ KB

In [32]:
total_pass = df[pass_criteria].shape[0]
total_fail = df[~pass_criteria].shape[0]

In [33]:

highest_scorer_gender = df.loc[df['total score'].idxmax(), 'gender']
highest_score = df['total score'].max()

In [34]:
print(f"Girls Passed: {girls_pass}")
print(f"Boys Passed: {boys_pass}")
print(f"Girls Failed: {girls_fail}")
print(f"Boys Failed: {boys_fail}")
print(f"Total Passed: {total_pass}")
print(f"Total Failed: {total_fail}")
print(f"Highest Scorer: {highest_scorer_gender} with {highest_score} marks")

Girls Passed: 91
Boys Passed: 48
Girls Failed: 427
Boys Failed: 434
Total Passed: 139
Total Failed: 861
Highest Scorer: female with 300 marks

In [35]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   total score                  1000 non-null   int64
 9   average                      1000 non-null   float64
dtypes: float64(1), int64(4), object(5)
memory usage: 78.3+ KB

In [39]:
print(df[['race/ethnicity', 'gender', 'parental level of education', 'lunch', 'test preparation course']])

    race/ethnicity  gender parental level of education         lunch  \
0          group B  female           bachelor's degree      standard
1          group C  female                some college      standard
2          group B  female             master's degree      standard
3          group A    male          associate's degree  free/reduced
4          group C    male                some college      standard
..             ...     ...                         ...           ...
995        group E  female             master's degree      standard
996        group C    male                 high school  free/reduced
997        group C  female                 high school  free/reduced
998        group D  female                some college      standard
999        group D  female                some college  free/reduced

    test preparation course
0                      none
1                 completed
2                      none
3                      none
4                      none
..                      ...
995               completed
996                    none
997               completed
998               completed
999                    none

[1000 rows x 5 columns]

In [40]:
from sklearn.preprocessing import LabelEncoder

# Define the columns to encode
categorical_columns = ['race/ethnicity', 'gender', 'parental level of education', 'lunch', 'test preparation course']

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply LabelEncoder to each column
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])

# Display the first few rows of the updated DataFrame
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,average
0,0,1,1,1,1,72,72,74,218,72.666667
1,0,2,4,1,0,69,90,88,247,82.333333
2,0,1,3,1,1,90,95,93,278,92.666667
3,1,0,0,0,1,47,57,44,148,49.333333
4,1,2,4,1,1,76,78,75,229,76.333333

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   int32
 1   race/ethnicity               1000 non-null   int32
 2   parental level of education  1000 non-null   int32
 3   lunch                        1000 non-null   int32
 4   test preparation course      1000 non-null   int32
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   total score                  1000 non-null   int64
 9   average                      1000 non-null   float64
dtypes: float64(1), int32(5), int64(4)
memory usage: 58.7 KB

In [43]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Define features (X) and target (y)
X = df.drop(['math score'], axis=1)  # Drop 'math score' from features
y = df['math score']  # Target variable

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(1.3409275990365255e-27, 1.0)

In [50]:
y_test

521    91
737    53
740    80
660    74
411    84
       ..
408    52
332    62
208    74
613    65
78     61
Name: math score, Length: 200, dtype: int64

In [51]:


y_pred

array([ 9.10000000e+01,  5.30000000e+01,  8.00000000e+01,  7.40000000e+01,
        8.40000000e+01,  8.10000000e+01,  6.90000000e+01,  5.40000000e+01,
        8.70000000e+01,  5.10000000e+01,  4.50000000e+01,  3.00000000e+01,
        6.70000000e+01,  4.90000000e+01,  8.50000000e+01,  6.50000000e+01,
        5.30000000e+01,  5.50000000e+01,  4.80000000e+01,  5.60000000e+01,
        7.90000000e+01,  4.30000000e+01,  4.50000000e+01,  3.60000000e+01,
        8.00000000e+01,  8.00000000e+01,  6.80000000e+01,  4.00000000e+01,
        3.40000000e+01,  4.90000000e+01,  6.20000000e+01,  7.10000000e+01,
        6.20000000e+01,  7.60000000e+01,  8.40000000e+01,  4.50000000e+01,
        7.70000000e+01,  6.90000000e+01,  7.30000000e+01, -8.15458812e-14,
        8.20000000e+01,  6.50000000e+01,  6.70000000e+01,  5.40000000e+01,
        9.00000000e+01,  5.90000000e+01,  7.40000000e+01,  2.90000000e+01,
        8.90000000e+01,  7.50000000e+01,  7.10000000e+01,  6.40000000e+01,
        7.90000000e+01,  4.80000000e+01,  6.90000000e+01,  6.90000000e+01,
        8.80000000e+01,  5.80000000e+01,  8.70000000e+01,  8.50000000e+01,
        4.60000000e+01,  7.10000000e+01,  8.10000000e+01,  5.80000000e+01,
        8.40000000e+01,  6.60000000e+01,  5.50000000e+01,  5.90000000e+01,
        5.80000000e+01,  8.20000000e+01,  6.60000000e+01,  8.10000000e+01,
        5.80000000e+01,  3.70000000e+01,  6.30000000e+01,  7.70000000e+01,
        8.50000000e+01,  5.70000000e+01,  4.80000000e+01,  5.10000000e+01,
        6.30000000e+01,  4.50000000e+01,  8.30000000e+01,  6.00000000e+01,
        6.30000000e+01,  6.20000000e+01,  6.80000000e+01,  6.00000000e+01,
        7.70000000e+01,  2.80000000e+01,  7.90000000e+01,  1.00000000e+02,
        6.90000000e+01,  6.60000000e+01,  1.90000000e+01,  7.50000000e+01,
        6.00000000e+01,  5.80000000e+01,  6.90000000e+01,  5.60000000e+01,
        7.30000000e+01,  6.60000000e+01,  6.70000000e+01,  6.40000000e+01,
        7.10000000e+01,  7.00000000e+01,  5.30000000e+01,  7.50000000e+01,
        6.80000000e+01,  4.40000000e+01,  2.90000000e+01,  7.10000000e+01,
        5.70000000e+01,  4.50000000e+01,  7.60000000e+01,  6.10000000e+01,
        4.50000000e+01,  5.50000000e+01,  7.30000000e+01,  7.80000000e+01,
        5.00000000e+01,  6.20000000e+01,  8.10000000e+01,  6.40000000e+01,
        6.40000000e+01,  7.30000000e+01,  7.30000000e+01,  6.70000000e+01,
        6.10000000e+01,  6.70000000e+01,  6.50000000e+01,  8.00000000e+01,
        5.90000000e+01,  8.80000000e+01,  6.20000000e+01,  3.30000000e+01,
        7.90000000e+01,  8.40000000e+01,  7.30000000e+01,  4.10000000e+01,
        5.00000000e+01,  5.80000000e+01,  5.50000000e+01,  4.50000000e+01,
        8.80000000e+01,  4.60000000e+01,  5.10000000e+01,  7.50000000e+01,
        4.90000000e+01,  7.50000000e+01,  7.40000000e+01,  6.10000000e+01,
        6.20000000e+01,  6.80000000e+01,  7.80000000e+01,  7.10000000e+01,
        4.90000000e+01,  5.90000000e+01,  7.90000000e+01,  5.10000000e+01,
        5.60000000e+01,  7.60000000e+01,  6.90000000e+01,  5.10000000e+01,
        8.20000000e+01,  7.30000000e+01,  4.00000000e+01,  9.30000000e+01,
        5.90000000e+01,  7.30000000e+01,  8.50000000e+01,  7.60000000e+01,
        7.70000000e+01,  6.70000000e+01,  6.10000000e+01,  2.70000000e+01,
        5.40000000e+01,  6.50000000e+01,  8.70000000e+01,  7.00000000e+01,
        5.40000000e+01,  6.60000000e+01,  8.50000000e+01,  5.60000000e+01,
        9.00000000e+01,  7.00000000e+01,  6.10000000e+01,  4.90000000e+01,
        8.10000000e+01,  8.70000000e+01,  4.90000000e+01,  6.80000000e+01,
        7.70000000e+01,  7.80000000e+01,  6.00000000e+01,  5.20000000e+01,
        6.20000000e+01,  7.40000000e+01,  6.50000000e+01,  6.10000000e+01])