In [5]:
hello = (23,24,56,4)
print(hello)

(23, 24, 56, 4)

In [3]:
print(hello[0])

23

In [9]:
d,x, y, z = hello

print(x)

24

In [12]:
t = (12,12,123,543,35,23)
print(len(t))

6

In [13]:
t3 = t + hello
print(t3)

(12, 12, 123, 543, 35, 23, 23, 24, 56, 4)

In [14]:
t3 = t * 2
print(t3)

(12, 12, 123, 543, 35, 23, 12, 12, 123, 543, 35, 23)

# python dictionary

In [18]:
dic = {
    'name':'John',
    'age': 30,
    'city':'New York'
}
dic['name'] = 'huzaifa'
print(dic)

{'name': 'huzaifa', 'age': 30, 'city': 'New York'}

In [20]:
dic1 = {
    1: 'John',
    2: 'Jane',
    3: 'Mike'
}
print(dic1[1])

John

In [21]:
dic.pop('name')

'huzaifa'

In [28]:
dic.popitem()

('age', 30)