In [1]:
a = 200
b =30
if a >b :
    print('working')
else:
    print('not working')

working

In [2]:
# Arithmetic Operator

# Arithmetic Operator

In [6]:
a = 10
b= 3
print("Exponentiation", a ** b)

Exponentiation 1000

In [7]:
price = 100
tax_rate = 0.02
total_price = price + (price * tax_rate)
print("total price tax",total_price)

total price tax 2.02

# input data in python

In [3]:
name = input('enter your name')
age = input('enter your age')
print('my name is' + name + 'and my age is' + age)

my name ishuzaifaand my age is20

In [12]:
a = 1
print("1" + 2)

TypeError: can only concatenate str (not "int") to str

# type casting

In [8]:
name = input('enter your name')
type(name)

str